<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TakeAway-App</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<style>
    .flex {
        display: flex;
        flex-direction: column;
    }
    .card-image img {
        max-height: 225px;
        object-fit: cover;
    }
    .hidden {
        display: none;
    }
</style>
<body>
    <main class="container">
        <div class="flex">
            <div class="row">
            <% products.forEach(product => { %>
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            <img class="product-image" src="<%= product.image %>">
                            <span class="card-title"><%= product.name %></span>
                        </div>
                        <div class="card-content">
                            <b class="product-category">
                                <%= product.category %>
                            </b>
                            <p class="product-description">
                                <%= product.description %>
                            </p>
                        </div>
                        <div class="card-action">
                            <a class="waves-effect waves-light btn" href="#">Add</a>
                        </div>
                        <input class="hidden id" type="text" value="<%- product._id %>">
                    </div>
                </div>
            <% }) %>
        </div>
        </div>
    </main>

    <script src="./js/shoppingCart.js"></script>
</body>
</html>